* {
 box-sizing: border-box;
 margin: 0;
 border: 0;
 padding: 0;
}

body {
 background: #111;
 color: #fff;
 font-family: sans-serif;
}

header {
 background-color: #111;
 height: 64px;
 padding-left: 32px;
 position: fixed;
 top: 0;
 width: 100%;
}

a {
 color: #fff;
 display: inline-block;
 font: inherit;
 letter-spacing: 2px;
 line-height: 64px;
 text-decoration: none;
}

#mt {
 display: none;
}

label {
 display: none;
}

h2 {
 font-size: 32px;
 letter-spacing: 1px;
 text-align: center;
}

nav {
 font: inherit;
 padding-right: 64px;
 position: absolute;
 right: 0;
 top: 0;
}

nav > a {
 margin-left: 16px;
}

section {
 padding: 64px;
 text-align: center;
}

h1 {
 display: inline-block;
 font-size: 48px;
 text-align: center;
 word-break: break-word;
}

.f {
 display: flex;
 flex-wrap: wrap;
}

.p60 {
 width: 60%;
}

h3 {
 border: 0;
 font-size: 24px;
 text-decoration: none;
 vertical-align: baseline;
}

.p40 {
 width: 40%;
 font-size: 32px;
}

.p100 {
 width: 100%;
}

.p25 {
 flex: 1 0 22%;
 min-width: 300px;
}

.p15 {
 width: 15%;
}

.p85 {
 width: 85%;
}

.vc {
 display: flex;
 align-items: center;
 justify-content: center;
}

p {
 border: 0;
 font-size: 16px;
 font: inherit;
 padding: 0;
 vertical-align: baseline;
 margin: 0 0 32px 0;
 line-height: 28px;
 text-align: left;
}

footer {
 margin: 0 64px;
 text-align: center;
}

hr {
 background-color: #140;
 border-width: 0;
 color: #140;
 height: 4px;
 margin: 0;
}

li {
 display: inline-block;
 line-height: 16px;
 padding: 8px 16px;
}

li:first-child {
 padding-left: 0;
}

li a {
 font-size: 32px;
 display: inline-block;
 font-style: normal;
 line-height: 1;
}

h4 {
 font-size: 19px;
 margin: 0;
}

article {
 text-align: center;
 padding: 64px;
}

img {
 width: 100%;
}

table {
 margin: 0 auto;
}

table,
td,
th {
 border: 1px solid #fff;
 border-collapse: collapse;
}

.skills-grid {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
 gap: 16px;
 padding: 16px;
}

.skill-box {
 background: #140;
 padding: 16px;
 border-radius: 16px;
 text-align: center;
}

.skill-box:hover {
 background: #360;
}

form {
 background-color: #222;
 opacity: 0.5;
 border-radius: 30px;
 margin: 0 auto;
 padding: 30px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 400px;
}

img {
 padding-bottom: 30px;
 width: 100%;
}

input {
 background-color: #333;
 border-radius: 10px;
 border: 1px solid #333;
 color: #fff;
 font-size: 16px;
 font-weight: 600;
 height: 40px;
 margin-bottom: 10px;
 padding: 10px;
 text-align: center;
 width: 100%;
}

button {
 background-color: #18f;
 border-radius: 10px;
 border: 1px solid #18f;
 color: #fff;
 cursor: pointer;
 font-size: 16px;
 font-weight: 600;
 height: 40px;
 padding: 10px;
 width: 100%;
}

button:hover {
 background-color: #06d;
 border: 1px solid #06d;
}

@media (max-width: 400px) {
 form {
  width: 90%;
 }
}

@media (max-aspect-ratio: 2/3) {
 header {
  padding-left: 0;
  height: 3em;
 }

 h1 {
  font-size: 2.25em;
 }

 h2 {
  font-size: 1.5em;
 }

 h3 {
  font-size: 1.125em;
 }

 h4 {
  font-size: 0.9em;
 }

 p {
  font-size: 0.75em;
 }

 li a {
  font-size: 1.5em;
 }

 .p40 {
  font-size: 1.5em;
 }

 nav > a {
  font-size: 1.5em;
 }

 label {
  aspect-ratio: 1/1;
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
 }

 .line {
  background-color: #fff;
  height: 12.5%;
  margin: 15%;
 }

 a {
  display: block;
  line-height: 3em;
 }

 nav {
  display: none;
  position: absolute;
  top: 3em;
  left: 0;
  background-color: #111;
 }

 #mt:checked + label + nav {
  display: block;
 }

 .skills-grid {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
 }
}
